#
#### EXAMPLE CONFIG FILE ####
#
# define hosts to run this script on
host="magicbroccoli.de"
#
# maximum timeframe for accounts registered but not logged in
# needs to be in the syntax 1day 2weeks 3months 4years
unused_accounts_timeframe="14days"
# maxium timeframe for accounts since last login
old_accounts_timeframe="1year"
#
# maximum age of mod_mam messags stored in the database
enable_mam_clearing=false
# needs to be in mysql syntax 1 DAY 2 MONTH 3 YEAR
mam_message_live="2 MONTH"
#
# prosody mysql login credentials
prosody_db_user="prosody"
prosody_db_password="super_secret-password1337"
#
# http upload path
http_upload_path="/var/lib/prosody/http_upload"
# http upload lifetime in days
http_upload_expire="31"
